.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
.npmrc
.editorconfig
esbuild.js
**/*.map
**/*.ts
readme.md
README_MARKETPLACE.md
README.md
.nvmrc
AGENTS.md
skills-lock.json
tsconfig.json
.agents/**
